
div.primary {
  background-image: url("../img/black-cat-banner.png");
  background-repeat:no-repeat;
  background-position:left;
  background-size:23%;
 }
#wrapper{
  background-color:rgb(217, 217, 217);
}
form{
  width:25%;
  min-width:300px;
  display:inline-block;
  vertical-align:top;
  margin-left:1%;
}
input#count{
  max-width:20%;
  display:inline-block;
}
iform{
  width:60%;
}
#messages{
  margin:8px;
  font-size: 13px;
  color:red;
}
#messages p{
  height:16px;
  margin:0px;
}
.hidden {
  display:none;
}
.purple{
  color: purple;
}
.blue{
  color:blue;
  font-size:12px;
}
table{
  width:100%;
}
td form{
  display:inline-block;
}