<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>The Black Cat|Reschedule</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
      <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static',filename='css/myaccount.css')}}" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="{{url_for('static',filename='js/session.js')}}"></script>
    </head>
<body>

<div class="top-bar">
    <div class="top-bar-left">
    <ul class="menu">
    <li class="menu-text">The Black Cat Agency</li>
    </ul>
    </div>
    <div class="top-bar-right">
    <ul class="menu">
    <!--<li><a href="#">One</a></li>
    <li><a href="#">Two</a></li>-->
    <li><a href="/myaccount/{{session.id}}">Welcome, {{session.first_name}}</a></li>
    <li><a href="/logout">Logout</a></li>
    <li><a href="/">Home</a></li>
    </ul>
    </div>
    </div>

<div class="callout large primary">
    <div class="text-center">
    <h1>Reschedule Session</h1>
    </div>
    </div>
    <div id="messages">
        <div class='flash-messages'>
        {% with messages = get_flashed_messages() %}
          <!-- declare a variable called messages -->
          {% if messages %}
          <!-- check if there are any messages -->
            {% for message in messages %}
          <!-- loop through the messages -->
              <p>{{message}}</p>
          <!-- display each message in a paragraph tag -->
            {% endfor %} 
          {% endif %}
        {% endwith %}
        </div>
      </div>
      
  <form action="/reschedule_session/{{session_data.id}}/update" method="POST">
    <input type="hidden" name="info" id="clientinfo">
    <label for="date">Date</label>
    <input type="date" name="date" id="date" min="2019-07-01" value='{{session_data.date}}'>
    <label for="time">Time</label>
    <input type="time" name="time" id="time" value='{{session_data.time}}'>
    <label for="notes">Notes, Goals, etc</label>
    <input type="text" name="notes" id="notes" value='{{session_data.NOTES}}'>
    
    {% if session_data.session_length == 30%}
      <input type="radio" name="length" value="0.5" checked> 30 Minutes
      <input type="radio" name="length" value="1" > 60 minutes<br>
    {% else %}
    <input type="radio" name="length" value="0.5" > 30 Minutes
    <input type="radio" name="length" value="1" checked> 60 minutes<br>
    {% endif %}
    <input type="checkbox" name="reminder" value="True"> Receive email reminder<br>
    <input type="submit" value="Reschedule">
  </form>

  <div id="my_sessions">
    <h6>Upcoming Sessions</h6>
    <table class="table hover">
      <thead>
        <tr>
          <th>Date</th>
          <th>Duration</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for event in sessions %}
        <tr>
          <td>{{event.date_time}}</td>
          <td>{{event.session_length}} minutes</td>
          {% if event.date_time > cancel_date %}
          <td><form action="/delete_session/{{event.id}}" method="POST">
            <input type="submit" name="delete_session" value="Delete">
          </form>
          <a href="/reschedule_session/{{event.id}}"> Reschedule</a>
          </td>
          {% else %}  
          <td></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="/personaltraining/calendar">View Paul's Calendar</a>
    <p><span class='blue'>Cancelations or rescheduled sessions must be made at least 24 hours in advance of the scheduled time.</span></p>
  </div>
</body>
</html>